.banner {
  background-image: url("https://acm.cs.ksu.edu/img/header.jpg");
  background-repeat: no-repeat;
  background-size: 1920px;
  margin-top: -76px;
}

.navigation {
  top: 0px;
  position: sticky;
}

.bg-ransparent {
  background-color: transparent !important;
}